<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.my.spring.mapper.WorkMapper">
	
	<select id="searchWorkerInfoByIdWorker" resultType="com.my.spring.domain.WorkerInfoVO" parameterType="int">
	  SELECT A.ID, A.ID_WORKER, A.TIMESTART, A.TIMEEND, A.PAYMENT 
	  FROM WORKERINFO A
	  WHERE A.id_worker = #{id_worker}
	  AND A.ID_BRANCH = #{id_branch} 
	  ORDER BY ID DESC
	</select>
	
	<select id="getWorkersByIdBranch" resultType="com.my.spring.domain.WorkerInfoVO" parameterType="int">
		SELECT A.ID, A.ID_WORKER, A.TIMESTART, A.TIMEEND, A.PAYMENT 
	  	FROM WORKERINFO A
	  	WHERE A.ID_BRANCH = #{id_branch} 
	  	ORDER BY ID DESC
	</select>
	
	<insert id="createWorkerInfo" parameterType="com.my.spring.domain.WorkerInfoVO">
		INSERT INTO WORKERINFO (ID, ID_WORKER, TIMESTART, TIMEEND, PAYMENT, ID_BRANCH) VALUES (
		workerinfo_seq.nextval, #{newWorkerInfo.id_worker}, #{newWorkerInfo.timeStart}, 
		#{newWorkerInfo.timeEnd}, #{newWorkerInfo.payment}, #{id_branch})
	</insert>
	
	<delete id="deleteWorkerInfo" parameterType="Int">
		DELETE FROM WORKERINFO 
		WHERE ID_WORKER = #{id_worker}
		AND ID_BRANCH = #{id_branch}
	</delete>
	
	<update id="modifyWorkerInfo" parameterType="com.my.spring.domain.WorkerInfoVO">
		UPDATE WORKERINFO
		SET
		timeStart = #{newWorkerInfo.timeStart},
		timeEnd = #{newWorkerInfo.timeEnd},
		payment = #{newWorkerInfo.payment}"
		WHERE
		ID = #{newWorkerInfo.id}
	</update>
	
	<select id="getWorkByIdWorkerInfo" resultType="com.my.spring.domain.WorkVO" parameterType="int">
		SELECT * 
		FROM WORK
		WHERE ID_WORKERINFO = #{id_workerinfo}
		ORDER BY DATEWORK DESC
	</select>
	
	<insert id="createWorkByIdWorkerInfo" parameterType="com.my.spring.domain.WorkVO">
		INSERT INTO WORK (ID, ID_WORKERINFO, PAYMENT, TIMESTART, TIMEEND, HOURSOFWORK, DATEWORK) VALUES (
		WORK_SEQ.NEXTVAL, #{work.id_workerInfo}, #{work.payment}, #{work.timeStart},
		#{work.timeEnd}, #{work.hoursOfWork}, #{work.dateWork})
	</insert>
	
	<update id="modifyWork" parameterType="com.my.spring.domain.WorkVO">
		UNDATE WORK
		SET
		PAYMENT = #{work.payment},
		TIMESTART = #{work.timeStart},
		TIMEEND = #{work.timeEnd},
		HOURSOFWEEK = #{work.hoursOfWork},
		DATEWORK = #{work.dateWork}
		WHERE
		ID = #{work.id}
	</update>
	
	<delete id="deleteWorksByIdWorkerInfo" parameterType = "Int">
		DELETE FROM WORK
		WHERE ID_WORKERINFO = #{id_workerinfo}
	</delete>
	
</mapper>